:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 62.5%;

}

*{
  
  margin-top: 0%;
  padding: 0%;

}
.home-main{
  display: flex;
}

/* Navigation bar start */
 .main-header{
  gap: 20%;
  align-items: center;
  background-color: rgb(126, 16, 229);
  height: 7rem;
 min-width:100%;

}
#logo{
  margin-top: 1rem;
}
.navul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap:15%;
  margin-right: 15%;
  margin-top: 2rem ;


}

#nav-text{
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 0.1rem;
  background-color: rgb(75, 41, 105);
  color: beige;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  gap:10rem;

}
@media screen and (max-width: 800px ){
  .main-header{
min-width: 100%;
  }

  .main-nav{
    min-width: 4rem;
gap:2rem;
  }
  #nav-text{
font-weight: 400;
font-size: 1.5rem;
padding: .5rem 1rem;
  }
}

/* Navigation bar end */
