:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 62.5%;

}

*{
  
  margin-top: 0%;
  padding: 0%;

}
.home-main{
  display: flex;
}

/* Navigation bar start */
 .main-header{
  position: fixed;
  gap: 20%;
  align-items: center;
  background-color: rgb(126, 16, 229);
  height: 7rem;
 min-width:100%;

}
#logo{
  margin-top: 1rem;
}
.navul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap:15%;
  margin-right: 15%;
  margin-top: 2rem ;


}

#nav-text{
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 0.1rem;
  background-color: rgb(75, 41, 105);
  color: beige;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  gap:10rem;

}

@media screen and (max-width: 800px ){
  .main-header{
min-width: 100%;
  }

  .main-nav{
    min-width: 4rem;
gap:2rem;
  }
  #nav-text{
font-weight: 400;
font-size: 1.5rem;
padding: .5rem 1rem;
  }
}
.button{
  display: none;
  font-size: large;
  color: #df0a0a;
  position: absolute;
  left: 290px;
    bottom: 10%;
}


@media screen and (max-width : 500px) {
  .button{
    display: flex;
  }
  .navul{
    flex-direction: column;
    gap:45%;
    position: relative;
    height: 48rem;
    top:11rem;
    right: 20%;
    background-color: aqua;
    width: 65rem;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .navbar-open{
    background-color: black;
    color:darkgreen;
    display:none;

  }
  .navbar-closed {
    background-color: #060606;
    border: 1px solid #ddd;
  }
  #nav-text{
    padding: 2rem 14rem;
    padding-left: 12rem;
    left:14%;
    border-radius: 3%;
  }
  .pose1{
    position: absolute;
    margin: 5% 5%;
    top:5rem;
    right:20rem ;
    text-align: center;
  }
  .pose2{
    position: absolute;
    top:15rem;
    right:20rem ;
  }
  .pose3{
    position: absolute;
    top:25rem;
    right:20rem
  }
  .pose-change{
    display: none
  }
  .pose4{
    position: absolute;
    top:35rem;
    right:20rem
  }

  

}

/* Navigation bar end */
